/* ----------------- COLORS ---------------------- */

.dGreen {
  color: #1a535c !important;
}

.dGreenBG {
  background-color: #1a535c;
}

.green {
  color: #4ecdc4 !important;
}

.greenBG {
  background-color: #4ecdc4;
}

.egg {
  color: #f7fff7 !important;
}

.eggBG {
  background-color: #f7fff7;
}

.red {
  color: #ff6b6b !important;
}

.redBG {
  background-color: #ff6b6b;
}

.yellow {
  color: #ffe66d !important;
}

.yellowBG {
  background-color: #ffe66d;
}

/* ----------------- TYPOGRAPHY ---------------------- */

body p {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

.slim {
  font-weight: 400 !important;
}

.nav-link {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

/* ----------------- NAVIGATION ---------------------- */

.btn-outline-secondary {
  border-color: #4ecdc4 !important;
  border-width: 2px;
  color: #4ecdc4 !important;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn-outline-secondary:hover {
  background-color: #4ecdc4 !important;
  color: #f7fff7 !important;
}

#logo {
  height: 50px;
}

/* ----------------- CAROUSEL ---------------------- */

.carousel-indicators {
  position: relative;
  bottom: -515px;
}
.carousel-indicators [data-bs-target] {
  width: 45px;
  height: 5px;
}

/* ----------------- HTML ELEMENTS ---------------------- */
a {
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  color: inherit;
}

/* ----------------- BOOTSTRAP ELEMENTS ---------------------- */
.card {
  width: 18rem;
}

.card-text {
  height: 72px;
  overflow-y: hidden;
}

.progress {
  height: 5px;
}

/* this will need to be set dynamically */
/* .progress-bar {
  width: 78%;
} */

.form-control:focus {
  border-color:#1a535c;
  box-shadow:0 0 0 0.25rem rgba(78, 205, 196,.50);
}

.form-control {
  background-color: #4ecdc4;
  border-color: #4ecdc4;
}

::placeholder {
  color: #f7fff7 !important;
}

/* ----------------- CUSTOM ELEMENTS ---------------------- */

.myBtnEgg {
  border: 2px solid;
  transition: all 0.5s;
  transition-timing-function: ease-out;
  border-color: #f7fff7;
  background-color: none;
  color: #f7fff7;
  padding: 7px;
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
}

.myBtnEgg:hover {
  background-color: #f7fff7;
  color: #1a535c;
}

.avatar {
  max-width: 50px;
  border-radius: 50%;
}

.spacer {
  min-height: 50px;
}

.projectDescription {
  max-height:220px;
  overflow-y: hidden;
  margin-bottom:0 !important;
}

.shortDescription, .titleLimit {
  max-height:50px;
  overflow-y: hidden;
  margin-bottom:0 !important;
  max-width: 225px;
}

.shortTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; 
}

.card {
  width:95%;

  margin:3% 2.5% 3% 2.5%;
  box-shadow: none;
  transition: width  0.5s ease, box-shadow 0.5s ease, margin 0.5s ease, font-size 0.5s ease, background-color 0.75s ease;
  /* font-size: 98%; */
  /* transition: box-shadow 0.5s; */
  
}

.card:hover {
  width:100%;
 
  margin:0;
  background-color: #4ecdc4 !important;
  /* font-size: 101%; */
  -webkit-box-shadow: 0px 0px 59px -13px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 59px -13px rgba(0,0,0,1);
box-shadow: 0px 0px 59px -13px rgba(0,0,0,1);
}
.card:hover p {
  color:#f7fff7 !important;
}

.titleLink {
  background-color: #f7fff7;
  color: black;
  transition: background-color 0.75s ease, color 0.5s ease;
}

.titleLink:hover {
  background-color:#4ecdc4 !important;
  color: #f7fff7 !important;
}

.not-allowed {
  cursor: not-allowed;
}

.bigInput {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  color:#1a535c;
  border: none;
  /* font-size: 2em; */
  max-width: 100px;
  overflow-x: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

input[type=number]:focus:focus-visible {
  border-color: #1a535c !important;
}

/* file end */
