/* ----------------- COLORS ---------------------- */

.dGreen {
  color: #1a535c !important;
}

.dGreenBG {
  background-color: #1a535c;
}

.green {
  color: #4ecdc4 !important;
}

.greenBG {
  background-color: #4ecdc4;
}

.egg {
  color: #f7fff7 !important;
}

.eggBG {
  background-color: #f7fff7;
}

.red {
  color: #ff6b6b !important;
}

.redBG {
  background-color: #ff6b6b;
}

.yellow {
  color: #ffe66d !important;
}

.yellowBG {
  background-color: #ffe66d;
}

/* ----------------- TYPOGRAPHY ---------------------- */

body p {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

.slim {
  font-weight: 400 !important;
}

.nav-link {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

/* ----------------- NAVIGATION ---------------------- */

.btn-outline-secondary {
  border-color: #4ecdc4 !important;
  border-width: 2px;
  color: #4ecdc4 !important;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn-outline-secondary:hover {
  background-color: #4ecdc4 !important;
  color: #f7fff7 !important;
}

#logo {
  height: 50px;
}

/* ----------------- CAROUSEL ---------------------- */

.carousel-indicators {
  position: relative;
  bottom: -515px;
}
.carousel-indicators [data-bs-target] {
  width: 45px;
  height: 5px;
}

/* ----------------- HTML ELEMENTS ---------------------- */
a {
  text-decoration: none;
}

/* ----------------- BOOTSTRAP ELEMENTS ---------------------- */
.card {
  width: 18rem;
}

.card-text {
  height: 72px;
  overflow-y: hidden;
}

.progress {
  height: 5px;
}

/* this will need to be set dynamically */
.progress-bar {
  width: 78%;
}

.form-control:focus {
  border-color:#1a535c;
  box-shadow:0 0 0 0.25rem rgba(78, 205, 196,.50);
}

/* ----------------- CUSTOM ELEMENTS ---------------------- */

.myBtnEgg {
  border: 2px solid;
  transition: all 0.5s;
  transition-timing-function: ease-out;
  border-color: #f7fff7;
  background-color: none;
  color: #f7fff7;
  padding: 7px;
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
}

.myBtnEgg:hover {
  background-color: #f7fff7;
  color: #1a535c;
}

.avatar {
  max-width: 50px;
  border-radius: 50%;
}

.spacer {
  min-height: 50px;
}
