/* ----------------- COLORS ---------------------- */

.dGreen {
  color: #1a535c !important;
}

.dGreenBG {
  background-color: #1a535c;
}

.green {
  color: #4ecdc4 !important;
}

.greenBG {
  background-color: #4ecdc4;
}

.egg {
  color: #f7fff7 !important;
}

.eggBG {
  background-color: #f7fff7;
}

.red {
  color: #ff6b6b !important;
}

.redBG {
  background-color: #ff6b6b;
}

.yellow {
  color: #ffe66d !important;
}

.yellowBG {
  background-color: #ffe66d;
}

/* ----------------- TYPOGRAPHY ---------------------- */

body p {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

.slim {
  font-weight: 400 !important;
}

.nav-link {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

/* ----------------- NAVIGATION ---------------------- */

.btn-outline-secondary {
  border-color: #4ecdc4 !important;
  border-width: 2px;
  color: #4ecdc4 !important;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn-outline-secondary:hover {
  background-color: #4ecdc4 !important;
  color: #f7fff7 !important;
}

#logo {
  height: 50px;
}

/* ----------------- CAROUSEL ---------------------- */

.carousel-indicators {
  position: relative;
  bottom: -25px;
}
.carousel-indicators [data-bs-target] {
  width: 45px;
  height: 5px;
}

/* ----------------- HTML ELEMENTS ---------------------- */
a {
  text-decoration: none;
}
